@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.root {
  background: #2B304D;
  margin: 4em auto;
  width: 40em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px #151824;
  text-align: center;
  padding: 1em;

}

.header1 {
  color: #f3f3f3;
  padding: 30px 0px 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

.header2 {
  color: #f3f3f3;
  padding: 0.6em 0px 1em;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 22pt;
}

.imageStyle{
  width: 600px;
  height: auto;
  padding: 0.5em;
}
.homeStyle{
  display: grid;
  grid-template-columns: auto auto;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menuItem {
  float: left;

}

.menuItem button {
  display: block;
  text-align: center;

  width: 6em;

  background: transparent;
  padding: 0.6em;
  font-size: 1em;
  /*text*/
  color: #636B97;
  /*font-size: 1.2em;*/
  font-family: 'Quicksand', sans-serif;

  /*border*/
  border: 3px solid transparent;

}


.menuItem button:hover:not(.active){
  background: rgba(0,0,0,0.2);
  color: white;
  cursor:pointer;
}

.active{
  color:white !important;
  border-bottom:3px solid #f9b17a !important;
}